<div class="row">
	<div class="span12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="pull-right">
					<label class="radio inline">
						<input type="radio" class = "selectType" name="overallReport" id="Status" value="getStatusReport"> Status
					</label>
					<label class="radio inline">
						<input type="radio" class = "selectType" name="overallReport" id="Mode" value="getModeReport"> Mode
					</label>
				</div>
				<h6 class="panel-title lead">Interview's Overall Report</h6>
			</div>
			<div class="panel-body">
				<div id="piechart"></div>
			</div>
			<!-- <div class="panel-footer">
				<button class="btn btn-inverse btn-small print" type="button"><i class="icon-print icon-white"></i> Print</button>
			</div> -->
		</div>
	</div>
</div>
<div class="row">
	<div class="span12">
		<ul class="breadcrumb">
			<li>
				<select class="inline interviewerList">
					{{#each interviewerList}}
						<option value="{{empid}}">{{firstname}} {{lastname}}</option>
					{{/each}}
				</select>
			</li>
		</ul>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h6 class="panel-title lead">User Report</h6>
			</div>
			<div class="panel-body">
				<div class="piechartEmpStatusLog"></div>
				<div id="piechartEmpStatus"></div>
				<div class="piechartEmpModeLog"></div>
				<div id="piechartEmpMode"></div>
			</div>
			<!-- <div class="panel-footer">
				<button class="btn btn-inverse btn-small print" type="button"><i class="icon-print icon-white"></i> Print</button>
			</div> -->
		</div>
	</div>
</div>
