.checkGroup, 
.inputGroup{ display: none;}
.fuelux .collapse.in{min-height: 145px;}
.optionGroup, 
.checkGroup, 
.inputGroup{margin: 7px 0 10px 9px;}
.inputGroup button{margin-top: -10px;}


          
