html, body {
	margin-top: 80px;
	/* The html and body elements cannot have any padding or margin. */
}

.toolbar {
    display: inline-table;
    float: right;
}

.toolbar .btn {
	margin-left: 5px;
}

.checkGroup,
.inputGroup{ display: none;}
.fuelux .collapse.in{min-height: 145px;}
.optionGroup,
.checkGroup,
.inputGroup{margin: 7px 0 10px 9px;}
.inputGroup button{margin-top: -10px;}
