.checkGroup,
.inputGroup{ display: none;}
.fuelux .collapse.in{min-height: 145px;}
.optionGroup,
.checkGroup,
.inputGroup{margin: 7px 0 10px 9px;}
.inputGroup button{margin-top: -10px;}



.block {
	border: 1px solid #ccc;
	background: white;
	margin: 1em 0em;
	border-top: none;
}

.block-content {
	margin: 1em;
	min-height: .25em;
}

.block-header {
	border-radius: 0px !important;
	margin-bottom: 0px;
	border-right: none !important;
	border-left: none !important;
}
.block-header div {
	padding-top: 10px;
}

.space {
	margin-right: 50px;
}