<div class='row'>
	<div class='col-md-12'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				<div class='pull-right'>
				</div>
				<h6 class='panel-title lead'> {{title}}</h6>
			</div>
			<div class='panel-body'>
				<div id='createUser'>
					<form id='userForm'>
						<!-- EmployeeID -->
						<div class='control-group'>
							<label class='control-label' for='empid'>Employee ID<span class='text-error'>*</span></label>
							<div class='controls'>
								<input type='text' id='empid' name='empid' maxlength='8' class='form-control' placeholder='Only numeric allowed without space' />
								<span class='help-inline'></span>
							</div>
						</div>

						<!-- Email -->
						<div class='control-group'>
							<label class='control-label' for='email'>Email<span class='text-error'>*</span></label>
							<div class='controls'>
								<input type='text' id='email' name='email' maxlength='40' class='form-control' placeholder='Only valid email is allowed' />
								<span class='help-inline'></span>
							</div>
						</div>

						<!-- FirstName -->
						<div class='control-group'>
							<label class='control-label' for='firstname'>First Name<span class='text-error'>*</span></label>
							<div class='controls'>
								<input type='text' id='firstname' name='firstname' maxlength='30' class='form-control' placeholder='Only alphabets allowed without space' />
								<span class='help-inline'></span>
							</div>
						</div>

						<!-- LastName -->
						<div class='control-group'>
							<label class='control-label' for='lastname'>Last Name<span class='text-error'>*</span></label>
							<div class='controls'>
								<input type='text' id='lastname' name='lastname' maxlength='30' class='form-control' placeholder='Only alphabets allowed without space' />
								<span class='help-inline'></span>
							</div>
						</div>

						<!-- AccessType -->
						<div class='control-group'>
							<label class='control-label' for='accesstype'>Access Type<span class='text-error'>*</span></label>
							<div class="form-group">
	                            <div class="radio-inline">
	                                <label><input type="radio" name="accesstype" value="1"> Administrator</label>
	                            </div>
	                            <div class="radio-inline">
	                                <label><input type="radio" name="accesstype" value="0"> Users</label>
	                            </div>
	                        </div>
						</div>

						<div class='control-group'>
							<div class='controls'>
								<button type='submit' class='btn btn-primary' id='addUser'>{{addUserText}}</button>
								<a type='button' class='btn' href='#usersList'>Cancel</a>
							</div>
						</div>

					</form>
				</div>
			</div>
			<div class='panel-footer'><span class='text-info'>Notes: * indicates required field.</span></div>
		</div>
	</div>
</div>