<div class='row'>
    <table id='dataTable' class='table table-bordered table-condensed table-hover table-striped userslist'>
        <thead>
            <tr>
                <td colspan='7'>
                    <button class='btn btn-primary primary addNewUser'>Add new user</button>
                    <button class='btn btn-danger delAtOnces' style='visibility:hidden;'><i class='fa fa-trash-o'></i></button>
                    <button class='btn btn-primary pull-right print'><i class='fa fa-print'></i></button>
                </td>
            </tr>
            <tr>
                <td colspan='7'>
                    <form class='userForm'>
                        <fieldset>
                            <div class='row'>
                                <div class='col-xs-6'>
                                    <div class='form-group'>
                                        <label class='control-label' for='empid'>Employee ID <span class='text-danger'>*</span></label>
                                        <input type='text' name='empid' maxlength='8' class='form-control' placeholder='Only numeric allowed without space' />
                                    </div>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-xs-6'>
                                    <div class='form-group'>
                                        <label class='control-label' for='uFirstName'>First Name <span class='text-danger'>*</span></label>
                                        <input type='text' name='uFirstName' maxlength='30' class='form-control' placeholder='Only numeric allowed without space' />
                                    </div>
                                </div>
                                <div class='col-xs-6'>
                                    <div class='form-group'>
                                        <label class='control-label' for='uLastName'>Last Name <span class='text-danger'>*</span></label>
                                        <input type='text' name='uLastName' maxlength='30' class='form-control' placeholder='' />
                                    </div>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-xs-12'>
                                    <div class='form-group'>
                                        <label class='control-label' for='uEmail'>Email <span class='text-danger'>*</span></label>
                                        <input type='text' name='uEmail' maxlength='40' class='form-control' placeholder='Only valid email is allowed' />
                                    </div>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-xs-12'>
                                    <label class='control-label' for='uType'>User Roles <span class='text-danger'>*</span></label>
                                    <div class='form-group'>
                                        <div class='radio-inline'>
                                            <label><input type='radio' name='userRoles' value='admin'> Administrator</label>
                                        </div>
                                        <div class='radio-inline'>
                                            <label><input type='radio' name='userRoles' value='user'> Users</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </td>
            </tr>
            <tr>
                <th class='center'><input type='checkbox' class='selectedRowHeader' style='left:-4px; position:relative;'></th>
                <th>Employee's ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
                <tr data-id={{empid}}>
                    <td class='center'><input type='checkbox' class='selectedRow'></td>
                    <td>{{empid}}</td>
                    <td>{{email}}</td>
                    <td>{{firstname}} {{lastname}}</td>
                    <td class='center'>
                        <button class='btn btn-primary btn-xs editUser'><i class='fa fa-pencil-square-o'></i></button>
                        <button class='btn btn-danger btn-xs delUser' style='visibility:hidden;'><i class='fa fa-trash-o'></i></button>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>