<div class='row'>
    <table id='dataTable' class='table table-bordered table-condensed table-hover table-striped userslist'>
        <thead>
            <tr>
                <td colspan='7'>
                    <button class="btn btn-primary primary addNewUser">Add new user</button>
                    <button class="btn btn-danger delAtOnces" style='visibility:hidden;'><i class='fa fa-trash-o'></i></button>                    
                    <button class="btn btn-primary pull-right print"><i class="fa fa-print"></i></button>
                </td>
            </tr>
            <tr>
                <td colspan='7'>
                    <form class="form-horizontal" id='userForm'>
                        <div class="row">
                            <div class='control-group'>
                                <div class='controls'>
                                    <div class="col-md-2">
                                        <label class='control-label' for='empid'>Employee ID <span class='text-error'>*</span></label>
                                        <input type='text' id='empid' name='empid' maxlength='8' class='form-control' placeholder='Only numeric allowed without space' />
                                    </div>
                                    <div class="col-md-5">
                                        <label class='control-label' for='firstname'>First Name <span class='text-error'>*</span></label>
                                        <input type='text' id='empid' name='empid' maxlength='8' class='form-control' placeholder='Only numeric allowed without space' />
                                    </div>
                                    <div class="col-md-5">
                                        <label class='control-label' for='lastname'>Last Name <span class='text-error'>*</span></label>
                                        <input type='text' id='empid' name='empid' maxlength='8' class='form-control' placeholder='Only numeric allowed without space' />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class='control-group'>
                                <div class='controls'>
                                    <div class="col-md-12">
                                        <label class='control-label' for='email'>Email <span class='text-error'>*</span></label>
                                        <input type='text' id='email' name='email' maxlength='40' class='form-control' placeholder='Only valid email is allowed' />
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        <div class='control-group'>
                            <label class='control-label' for='accesstype'>Access Type <span class='text-error'>*</span></label>                                        
                            <div class="col-md-12">
                                <div class="radio-inline">
                                    <label><input type="radio" name="accesstype" value="1"> Administrator</label>
                                </div>
                                <div class="radio-inline">
                                    <label><input type="radio" name="accesstype" value="0"> Users</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <th class='center'><input type='checkbox' class='selectedRowHeader' style='left:-4px; position:relative;'></th>
                <th>Employee's ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
                <tr data-id={{empid}}>
                    <td class='center'><input type='checkbox' class='selectedRow'></td>
                    <td>{{empid}}</td>
                    <td>{{email}}</td>
                    <td>{{firstname}} {{lastname}}</td>
                    <td class='center'>
                        <button class='btn btn-primary btn-xs editUser'><i class='fa fa-pencil-square-o'></i></button>
                        <button class='btn btn-danger btn-xs delUser' style='visibility:hidden;'><i class='fa fa-trash-o'></i></button>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>