<div class="row">
	<div class="span12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="pull-right">					
				</div>
				<h6 class="panel-title lead">Add new user</h6>
			</div>
			<div class="panel-body">
				<div id="createUser">
					<form class="form-horizontal" id="userForm">
						<!-- EmployeeID -->
						<div class="control-group">
							<label class="control-label" for="employeeId">Employee ID</label>
							<div class="controls">
								<input type="text" id="employeeId" name="employeeId" maxlength="8" class="input-xlarge" placeholder="eg. " />
								<span class="help-inline"></span>
							</div>
						</div>

						<!-- Email -->
						<div class="control-group">
							<label class="control-label" for="email">Email </label>
							<div class="controls">
								<input type="text" id="email" name="email" maxlength="8" class="input-xlarge" placeholder="eg. " />
								<span class="help-inline"></span>
							</div>
						</div>

						<!-- FirstName -->
						<div class="control-group">
							<label class="control-label" for="firstName">First Name</label>
							<div class="controls">
								<input type="text" id="firstName" name="firstName" maxlength="8" class="input-xlarge" placeholder="eg. " />
								<span class="help-inline"></span>
							</div>
						</div>

						<!-- LastName -->
						<div class="control-group">
							<label class="control-label" for="lastName">Last Name</label>
							<div class="controls">
								<input type="text" id="lastName" name="lastName" maxlength="8" class="input-xlarge" placeholder="eg. " />
								<span class="help-inline"></span>
							</div>
						</div>

						<!-- AccessType -->
						<div class="control-group">
							<label class="control-label" for="accessType">Access Type</label>
							<div class="controls">
								<label class="radio inline">
									<input type="radio" value="1" name="accessType"> Administrator
								</label>
								<label class="radio inline">
									<input type="radio" value="0" name="accessType"> Users
								</label>
								<span class="help-inline"></span>
							</div>
						</div>

						<div class="control-group">
							<div class="controls">
								<button type="submit" class="btn btn-primary" id="addUser"><i class="icon-thumbs-up icon-white"></i> Save</button>
								<a type="button" class="btn" href="#usersList"><i class="icon-thumbs-down"></i> Cancel</a>
							</div>
						</div>

					</form>
				</div>
			</div>
			<div class="panel-footer">Footer
			</div>
		</div>
	</div>
</div>