<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle-o"></i></button>
            <h4 class="modal-title text-danger">Are you absolutely sure you want to remove this user?</h4>
        </div>
        <div class="modal-body">
            <p class='text-warning'><strong>Warning!</strong> Unexpected bad things will happen if you don't read this!</p>
            <p>This action <strong>cannot</strong> be undone and will remove this user details permanently.</p>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="agreement">I understand the consequences, remove this user.
                    </label>
                </div>
            </div>
            <div class="alert-container"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-danger confirmDelete disabled">Yes</button>
        </div>
    </div>
</div>