<div class="masthead">
    <ul class="nav nav-pills pull-right">
        <li><a href="#"><i class="icon-list"></i> Interview List</a></li>
        <li class="active"><a href="#interview"><i class="icon-file icon-white"></i> Add new interview</a></li>
    </ul>
    <h3 class="muted">{{title}}</h3>
</div>

<div id="createUser">
	<form class="form-horizontal" id="userForm">
		<legend>&nbsp;</legend>

		<!-- candiateName -->
		<div class="control-group">
			<label class="control-label" for="mode">Candiate Name </label>
			<div class="controls">
				<input type="text" id="candiateName" name="candiateName" class="input-xlarge" placeholder="eg. Candiate 1" />
				<span class="help-inline"></span>
			</div>
		</div>

		<!-- mode -->
		<div class="control-group">
			<label class="control-label" for="mode">Mode </label>
			<div class="controls">
				<select id="mode" name="mode_id" class="input-xlarge">
					{{#each mode}}
						<option value="{{id}}">{{mode}}</option>
					{{/each}}
				</select>
				<span class="help-inline"></span>
			</div>
		</div>

		<!-- interviewer 1 -->
		<div class="control-group">
			<label class="control-label" for="interviewer1">Interviewer 1</label>
			<div class="controls">
				<select id="interviewer1" name="interviewer_1_id" class="input-xlarge">
					{{#each interviewer1}}
						<option value="{{empid}}">{{firstname}} {{lastname}}</option>
					{{/each}}
				</select>
				<span class="help-inline"></span>
			</div>
		</div>

		<!-- interviewer 2 -->
		<div class="control-group">
			<label class="control-label" for="interviewer2">Interviewer 2</label>
			<div class="controls">
				<select id="interviewer2" name="interviewer_2_id" class="input-xlarge">
					{{#each interviewer2}}
						<option value="{{empid}}">{{firstname}} {{lastname}}</option>
					{{/each}}
				</select>
				<span class="help-inline"></span>
			</div>
		</div>

		<!-- recruiter -->
		<div class="control-group">
			<label class="control-label" for="recruiter">Recruiter </label>
			<div class="controls">
				<select id="recruiter" name="recruiter_id" class="input-xlarge">
					{{#each recruiter}}
						<option value="{{empid}}">{{firstname}} {{lastname}}</option>
					{{/each}}
				</select>
				<span class="help-inline"></span>
			</div>
		</div>

		<!-- rounds -->
		<div class="control-group">
			<label class="control-label" for="rounds">Rounds </label>
			<div class="controls">
				<select id="rounds" name="round_id" class="input-xlarge">
					{{#each rounds}}
						<option value="{{id}}">{{round}}</option>
					{{/each}}
				</select>
				<span class="help-inline"></span>
			</div>
		</div>

		<!-- status -->
		<div class="control-group">
			<label class="control-label" for="status">Status </label>
			<div class="controls">
				<select id="status" name="status_id" class="input-xlarge">
					{{#each interviewStatus}}
						<option value="{{id}}">{{status}}</option>
					{{/each}}
				</select>
				<span class="help-inline"></span>
			</div>
		</div>

		<!-- remarks -->
		<div class="control-group">
			<label class="control-label" for="status">Remarks </label>
			<div class="controls">
				<textarea id="remarks" name="description"></textarea>
				<span class="help-inline"></span>
			</div>
		</div>

		<div class="form-actions">
			<button type="submit" class="btn btn-primary" href="#" id="addUser"><i class="icon-thumbs-up icon-white"></i>{{addUserText}}</button>
			<button type="button" class="btn" href="#" id="addCancel"><i class="icon-thumbs-down"></i> Cancel</button>
		</div>

	</form>
</div>