<div class='row'>
    <table id='dataTable' class='table table-bordered table-condensed table-hover table-striped interviews'>
        <thead>
            <tr>
                <td colspan='7'>
                    <button class="btn btn-primary primary addNewInterviews"><i class="fa fa-plus-circle"></i></button>
                    <button class="btn btn-danger delAtOnces" style='visibility:hidden;'><i class='fa fa-trash-o'></i></button>
                    <!-- <button class="btn btn-primary pull-right print"><i class="fa fa-print"></i></button> -->
                </td>
            </tr>
            <tr>
                <th class='center' rowspan='2'><input type='checkbox' class='selectedRowHeader' style='left:-4px; position:relative;'></th>
                <th rowspan='2'>Candidate's Email</th>
                <th colspan='2' style='text-align:center;'>Interviewers</th>
                <th rowspan='2'>Recruiter</th>
                <th rowspan='2'>Status</th>
                <th rowspan='2'>Operations</th>
            </tr>
            <tr>
                <th>First</th>
                <th>Second <small>[Optional]</small></th>
            </tr>
        </thead>
        <tbody>
            {{#each interviews}}
                <tr data-id={{cEmail}} class={{#if isSelectable}}canSelect{{/if}}>
                    <td class='center'>
                        {{#if isSelectable}}
                            <input type='checkbox' class='selectedRow'>
                        {{else}}
                            <i class="fa fa-minus-square"></i>
                        {{/if}}
                    </td>
                    <td>{{cEmail}}</td>
                    <td>{{ivofirstname}} {{ivolastname}}</td>
                    <td>{{ivtfirstname}} {{ivtlastname}}</td>
                    <td>{{rcfirstname}} {{rclastname}}</td>
                    <td>{{status}}</td>
                    <td class='center'>
                        {{#if isEditable}}
                            <button class='btn btn-success btn-xs editInterview'><i class='fa fa-pencil-square-o'></i></button>
                        {{else}}
                            <button class='btn btn-primary btn-xs editInterview'><i class="fa fa-external-link"></i></button>
                        {{/if}}
                        {{#if isDeletable}}
                            <button class='btn btn-danger btn-xs delInterview'><i class='fa fa-trash-o'></i></button>
                        {{/if}}
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>