<div class="row">
	<div class="span12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="pull-right">
					<a href="#interviewList" class="btn btn-inverse"><i class="icon-list icon-white"></i> Show List</a>
					<button type="button" class="btn btn-inverse addNewList"><i class="icon-file icon-white"></i> Add New</button>
				</div>
				<h6 class="panel-title lead">{{title}}</h6>
			</div>
			<div class="panel-body">
				<div id="createInterview">
					<form class="form-horizontal" id="userForm">
						<!-- candiateName -->
						<div class="control-group">
							<label class="control-label" for="mode">Candidate Name<span class="text-error">*</span></label>
							<div class="controls">
								<input type="text" id="candiateName" name="candiateName" maxlength="30" class="input-xlarge" placeholder="Only alphabets allowed with max 1 space" />
								<span class="help-inline"></span>
							</div>
						</div>

						<!-- Interview Date -->
						<div class="control-group">
				            <label class="control-label" for="interviewDate">Interview Date<span class="text-error">*</span></label>
				            <div class="controls">
				                <div class="input-append date" data-date-format="dd-M-yyyy">
				                    <input type="text" class="input-xlarge" id="interviewDate" name="interviewDate" class="datepicker" readonly>
				                    <span class="add-on pickerShow"><i class="icon-calendar"></i></span>
				                </div>
				                <span class="help-inline"></span>
				            </div>
				        </div>

						<!-- mode -->
						<div class="control-group">
							<label class="control-label" for="mode">Mode<span class="text-error">*</span></label>
							<div class="controls">
								<select id="mode" name="mode_id" class="input-xlarge">
									{{#each mode}}
										<option value="{{id}}">{{mode}}</option>
									{{/each}}
								</select>
								<span class="help-inline"></span>
							</div>
						</div>

						<!-- interviewer 1 -->
						<div class="control-group">
							<label class="control-label" for="interviewer1">Interviewer 1<span class="text-error">*</span></label>
							<div class="controls">
								<select id="interviewer1" name="interviewer_1_id" class="input-xlarge">
									{{#each interviewer1}}
										<option value="{{empid}}">{{firstname}} {{lastname}}</option>
									{{/each}}
								</select>
								<span class="help-inline"></span>
							</div>
						</div>

						<!-- interviewer 2 -->
						<div class="control-group">
							<label class="control-label" for="interviewer2">Interviewer 2<span class="text-error">*</span></label>
							<div class="controls">
								<select id="interviewer2" name="interviewer_2_id" class="input-xlarge">
									{{#each interviewer2}}
										<option value="{{empid}}">{{firstname}} {{lastname}}</option>
									{{/each}}
								</select>
								<span class="help-inline"></span>
							</div>
						</div>

						<!-- recruiter -->
						<div class="control-group">
							<label class="control-label" for="recruiter">Recruiter<span class="text-error">*</span></label>
							<div class="controls">
								<select id="recruiter" name="recruiter_id" class="input-xlarge">
									{{#each recruiter}}
										<option value="{{empid}}">{{firstname}} {{lastname}}</option>
									{{/each}}
								</select>
								<span class="help-inline"></span>
							</div>
						</div>

						<!-- rounds -->
						<div class="control-group">
							<label class="control-label" for="rounds">Rounds<span class="text-error">*</span></label>
							<div class="controls">
								<select id="rounds" name="round_id" class="input-xlarge">
									{{#each rounds}}
										<option value="{{id}}">{{round}}</option>
									{{/each}}
								</select>
								<span class="help-inline"></span>
							</div>
						</div>

						<!-- status -->
						<div class="control-group">
							<label class="control-label" for="status">Status<span class="text-error">*</span></label>
							<div class="controls">
								<select id="status" name="status_id" class="input-xlarge">
									{{#each interviewStatus}}
										<option value="{{id}}">{{status}}</option>
									{{/each}}
								</select>
								<span class="help-inline"></span>
							</div>
						</div>

						<!-- remarks -->
						<div class="control-group">
							<label class="control-label" for="status">Remarks<span class="text-error">*</span></label>
							<div class="controls">
								<textarea id="remarks" rows="5" name="description" placeholder="Alphabets, numeric and special characters are allowed"></textarea>
								<span class="help-inline"></span>
							</div>
						</div>

						<div class="control-group">
							<div class="controls">
								<button type="submit" class="btn btn-primary" id="addUser"><i class="icon-thumbs-up icon-white"></i> {{addUserText}}</button>
								<a type="button" class="btn" href="#interviewList" id="addCancel"><i class="icon-thumbs-down"></i> Cancel</a>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="panel-footer"><span class="text-info">Notes: * indicates required field.</span></div>
		</div>
	</div>
</div>