<div class='row'>
    <table id='dataTable' class='table table-bordered table-condensed table-hover table-striped interviews'>
        <thead>
            <tr>
                <td colspan='7'>
                    <button class="btn btn-primary primary">Add new Interview</button>
                    <button class="btn btn-danger delAtOnces" style='visibility:hidden;'><i class='fa fa-trash-o'></i></button>
                    <button class="btn btn-primary pull-right print"><i class="fa fa-print"></i></button>
                </td>
            </tr>
            <tr>
                <th class='center' rowspan='2'><input type='checkbox' class='selectedRowHeader' style='left:-4px; position:relative;'></th>
                <th rowspan='2'>Candidate Name</th>
                <th colspan='2' style='text-align:center;'>Interviewers</th>
                <th rowspan='2'>Recruiter</th>
                <th rowspan='2'>Status</th>
                <th rowspan='2'>Operations</th>
            </tr>
            <tr>
                <th>First</th>
                <th>Second <small>[Optional]</small></th>
            </tr>
        </thead>
        <tbody>
            {{#each interviews}}
                <tr data-id={{id}}>
                    <td class='center'><input type='checkbox' class='selectedRow'></td>
                    <td>{{cFirstName}} {{cLastName}}</td>
                    <td>{{ivofirstname}} {{ivolastname}}</td>
                    <td>{{ivtfirstname}} {{ivtlastname}}</td>
                    <td>{{rcfirstname}} {{rclastname}}</td>
                    <td>{{status}}</td>
                    <td class='center'>
                        <button class='btn btn-primary btn-xs editInterview'><i class='fa fa-pencil-square-o'></i></button>
                        <button class='btn btn-danger btn-xs delInterview' style='visibility:hidden;'><i class='fa fa-trash-o'></i></button>
                        <!-- <button class='btn btn-danger btn-xs printInterview'><i class='fa fa-print'></i></button> -->
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>