<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle-o"></i></button>
            <h4 class="modal-title text-danger">Are you absolutely sure you want to remove this interview?</h4>
        </div>
        <div class="modal-body">
            <span class='text-warning'><strong>Warning!</strong> Unexpected bad things will happen if you don't read this!</span>
            <p>This action <strong>cannot</strong> be undone and will remove this interview details permanently.</p>
            <label class="checkbox-inline pull-left">
                <input type="checkbox" value="1">I understand the consequences, remove this interview.
            </label>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger confirmDelete">Yes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
    </div>
</div>