<div class="loginContainer">
	<form class="form-signin">
        <h2 class="form-signin-heading">Sign in to Cybage UI - IMS</h2>
        <input class="input-block-level" id="email" name="email" type="text" placeholder="Email Address">
        <input class="input-block-level" type="password" id="password" name="password" placeholder="Password">
        <div class="alert-container"></div>
        <button type="submit" class="btn btn-primary"><i class="icon-off icon-white"></i> Sign In</button>
        <div class="btn-group pull-right">
			<button type="button" class="btn"><i class="icon-exclamation-sign"></i> Forgot Password?</button>
			<button type="button" class="btn"><i class="icon-question-sign"></i> Help</button>
		</div>
    </form>
</div>