<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">Sign in</span>
                <div class="toolbar">
                    <span class="lead">Cybage UI - IMS <sup><small>Beta v3.0</small></sup></span>
                </div>
            </div>
            <div class="panel-body">
                <form role="form" class="signInForm">
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Use your Cybage email account">
                        <span class="hint-message" style="display:none;"></span>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                        <span class="hint-message" style="display:none;"></span>
                    </div>
                    <div class="alert-container"></div>
                    <button type="submit" class="btn btn-primary pull-left signIn">Sign in</button>
                    <button type="button" class="btn btn-link pull-right unableToAccess">Unable to access your account?</button>
                </form>
            </div>
            <div class="panel-footer text-center text-muted">
                To request an account, please contact your Cybage UI - IMS administrators.
            </div>
        </div>
    </div>
</div>