<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle-o"></i></button>
            <h4 class="modal-title text-primary">
                What's new in Cybage UI - IMS 3.0 <sup><small>Beta v3.0</small></sup>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-3">
                    <img src="../imgs/what_is_new.png" alt="Loading...">
                </div>
                <div class="col-md-9">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Interactive charts</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>Cybage UI IMS provide reports in the form of interactive charts that show statistics for interviews conducted.
                                    </p>
                                    <ul>
                                        <li>You can filter the charts data by legend provided on chart panel.</li>
                                        <li>Charts are available for download in PNG, JPEG, SVG or PDF file formats.</li>
                                        <li>Charts are also available for printing perpose.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Reports</a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>The following reports are included with Cybage UI IMS:</p>
                                    <ul>
                                        <li>Interview's overall report: Shows overall interview conducted status, grouped by a interviewed status, mode or rounds.</li>
                                        <li>Interviewer overall report: Shows overall interviews conducted filtered by interviewers.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Managing your user profile</a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Your user profile is where you specify your profile settings (e.g. your name, upload profile pic, summary points of your work).
                                </div>
                            </div>
                        </div> -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Managing your account settings</a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>We highly recommended to periodically change your password. Now you can do it easily with change password facility provided.</p>
                                    <ul>
                                        <li>If your password isn't working, you'll need to go through our password recovery process by raising a reset request to administrator.</li>
                                        <li>If your account is locked, you'll need to go through our account recovery process by raising a unlock request to administrator.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Share your experiences</a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Cybage UI IMS is being integrated with Github issue tracker API v3 which lets us stay on top of bugs and focus on features.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">See what's there in release 4 beta stack</a>
                                </h4>
                            </div>
                            <div id="collapseSix" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li>Managing interviewers & candidates profile.</li>
                                        <li>Help center & API documentations.</li>
                                        <li>More reports.</li>
                                        <li>Calendar widget.</li>
                                        <li>Add/remove components on dashboard.</li>
                                        <li>Integration with Git API v3.</li>
                                        <li>Cybage UI - IMS v1 exposed API.</li>
                                        <li>Exposed API documentations.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <label class="checkbox-inline pull-left">
                <input type="checkbox" id="turnItOff"> Turn <span class="toggleStatus">off</span> this release announcement
            </label>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>