<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle-o"></i></button>
            <h4 class="modal-title text-primary">
                What's new in Cybage UI - IMS <sup><small>Beta v3.0</small></sup>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-3">
                    <img src="../imgs/what_is_new.png" alt="Loading..."/>
                </div>
                <div class="col-xs-9">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#newUI">New look and feel</a>
                                </h4>
                            </div>
                            <div id="newUI" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>The first thing you’ll probably notice with release 3.0 beta is how flat the design is. This is following a fairly recent web design trend in throwing out excessive gradients, shadows, and textures, and going for a simple, minimalist look.</p>
                                    <p>Cybage UI - IMS v3.0 beta onwards will now look more modern, at least for as long as flat design reigns.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#interactiveCharts">Interactive charts</a>
                                </h4>
                            </div>
                            <div id="interactiveCharts" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Cybage UI - IMS provide reports in the form of interactive charts that shows statistics for interviews conducted.
                                    </p>
                                    <ul>
                                        <li>You can filter the charts data by legend provided on chart panel.</li>
                                        <li>Charts are available for download in PNG, JPEG, SVG or PDF file formats.</li>
                                        <li>Charts are also available for printing perpose.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#reports">Reports</a>
                                </h4>
                            </div>
                            <div id="reports" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>The following reports are included with Cybage UI - IMS:</p>
                                    <ul>
                                        <li>Interview's overall report: Shows overall interview conducted status, grouped by interviewed status, mode or round.</li>
                                        <li>Interviewer overall report: Shows overall interviews conducted filtered by interviewers.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Managing your user profile</a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Your user profile is where you specify your profile settings (e.g. your name, upload profile pic, summary points of your work).
                                </div>
                            </div>
                        </div> -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#manageAccounts">Managing your account settings</a>
                                </h4>
                            </div>
                            <div id="manageAccounts" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>We highly recommended to periodically change your password. Now you can do it easily with change password facility provided.</p>
                                    <ul>
                                        <li>If your password isn't working, you'll need to go through our password recovery process by raising a reset request to administrator.</li>
                                        <li>If your account is locked, you'll need to go through our account recovery process by raising an unlock request to administrator.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#shareFeedback">Share your experiences</a>
                                </h4>
                            </div>
                            <div id="shareFeedback" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Cybage UI - IMS is being integrated with Github issue tracker API v3.0 which let us stay on top of bugs and focus on features.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#upcomingReleases">Want to keep up with what's planned for upcoming releases beta stack</a>
                                </h4>
                            </div>
                            <div id="upcomingReleases" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li>Automate form filling process.</li>
                                        <li>Managing interviewers &amp; candidates profile.</li>
                                        <li>Help center &amp; documentations.</li>
                                        <li>More user &amp; adminsitrator reports.</li>
                                        <li>Calendar widget.</li>
                                        <li>Add/remove components/widgets on dashboard.</li>
                                        <li>Integration with Git API v3.0.</li>
                                        <li>Cybage UI - IMS exposed API v1.</li>
                                        <li>Exposed API documentations.</li>
                                        <li>Integration with Google analytics API.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <label class="checkbox-inline pull-left">
                <input type="checkbox" id="turnItOff"/> Turn <span class="toggleStatus">off</span> this release announcement
            </label>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>