<div class="row">
	<div class="span12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="pull-right">					
				</div>
				<h6 class="panel-title lead">Manage Interviewers</h6>
			</div>
			<div class="panel-body">
				<div class="row">
					<div id="createUser">
						<form class="form-horizontal" id="userForm">
							<!-- EmployeeID -->
							<div class="control-group">
								<label class="control-label" for="employeeId">Employee ID</label>
								<div class="controls">
									<input type="text" id="employeeId" name="employeeId" maxlength="8" class="input-xlarge" placeholder="eg. 10748" />
									<span class="help-inline"></span>
								</div>
							</div>

							<!-- FirstName -->
							<div class="control-group">
								<label class="control-label" for="firstName">First Name</label>
								<div class="controls">
									<input type="text" id="firstName" name="firstName" maxlength="8" class="input-xlarge" placeholder="eg. " />
									<span class="help-inline"></span>
								</div>
							</div>

							<!-- LastName -->
							<div class="control-group">
								<label class="control-label" for="lastName">Last Name</label>
								<div class="controls">
									<input type="text" id="lastName" name="lastName" maxlength="8" class="input-xlarge" placeholder="eg. " />
									<span class="help-inline"></span>
								</div>
							</div>

							<div class="control-group">
								<div class="controls">
									<button type="submit" class="btn btn-primary" href="#" id="addUser"><i class="icon-thumbs-up icon-white"></i> Save</button>
									<button type="button" class="btn" href="#" id="addCancel"><i class="icon-thumbs-down"></i> Cancel</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="panel-footer">Footer
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="span12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="pull-right">					
				</div>
				<h6 class="panel-title lead">Manage Recruiters</h6>
			</div>
			<div class="panel-body">
				<div id="createUser">
					<form class="form-horizontal" id="userForm">
						<!-- EmployeeID -->
						<div class="control-group">
							<label class="control-label" for="employeeId">Employee ID</label>
							<div class="controls">
								<input type="text" id="employeeId" name="employeeId" maxlength="8" class="input-xlarge" placeholder="eg. 10748" />
								<span class="help-inline"></span>
							</div>
						</div>

						<!-- FirstName -->
						<div class="control-group">
							<label class="control-label" for="firstName">First Name</label>
							<div class="controls">
								<input type="text" id="firstName" name="firstName" maxlength="8" class="input-xlarge" placeholder="eg. " />
								<span class="help-inline"></span>
							</div>
						</div>

						<!-- LastName -->
						<div class="control-group">
							<label class="control-label" for="lastName">Last Name</label>
							<div class="controls">
								<input type="text" id="lastName" name="lastName" maxlength="8" class="input-xlarge" placeholder="eg. " />
								<span class="help-inline"></span>
							</div>
						</div>

						<div class="control-group">
							<div class="controls">
								<button type="submit" class="btn btn-primary" href="#" id="addUser"><i class="icon-thumbs-up icon-white"></i> Save</button>
								<button type="button" class="btn" href="#" id="addCancel"><i class="icon-thumbs-down"></i> Cancel</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="panel-footer">Footer
			</div>
		</div>
	</div>
</div>