<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle-o"></i></button>
            <h4 class="modal-title text-primary">
                Share your experiences
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-3">
                    <img src="../imgs/got_feedback.png" alt="Loading...">
                </div>
                <div class="col-md-9">
                    <p class="lead">
                        Thank you for sharing your experiences. This feedback is important to us and helps us to understand the needs of our interviewers.
                    </p>
                    <hr>
                    <p>Cybage UI IMS is being integrated with Github issue tracker API v3.0. Cybage UI IMS project issues page can be as simple or as sophisticated as you like.</p>
                    <ul>
                        <li>A flexible issue tracker which lets us stay on top of bugs and focus on features.</li>
                        <li>Filter by open and closed issues, assignees, labels, and milestones.</li>
                        <li>Sort by issue age, number of comments, and update time.</li>
                    </ul>
                    <hr>
                    <p>
                        To request a feature or you find any typo errors, enhancements or questions; please feel free to post it on tracker link provided, or vote for the ones that are already registered.<br>
                        <strong>Tracker Link:</strong> <a href="https://github.com/Ashwinh/ims-tracking/issues" target="_blank">https://github.com/Ashwinh/ims-tracking/issues</a>
                    </p>
                    <p>
                        To see the upcoming release or milestones visit our milestones link<br>
                        <strong>Milestones Link:</strong> <a href="https://github.com/Ashwinh/ims-tracking/issues/milestones" target="_blank">https://github.com/Ashwinh/ims-tracking/issues/milestones</a>
                    </p>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>