<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle-o"></i></button>
            <h4 class="modal-title text-primary">
                Share your experiences
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-3">
                    <img src="../imgs/got_feedback.png" alt="Loading...">
                </div>
                <div class="col-md-9">
                    <div class="lead">
                        How can we help you?
                    </div>
                    <div>
                        <p>Cybage UI IMS is being integrated with Github issue tracker API v3. A flexible issue tracker which lets us stay on top of bugs and focus on features.
                        Cybage UI IMS project issues page can be as simple or as sophisticated as you like. Filter by open and closed issues, assignees, labels, and milestones. Sort by issue age, number of comments, and update time.</p>
                        <p>If you have found a bug, and you have reproduction steps</p>
                        <p>
                            To request a feature or you find any typo errors, enhancements or questions; please feel free to post it on following link, or vote for the ones that are already registered.<br>
                            Tracker Link: <a href="https://github.com/hegdeashwin/Backbone/issues">https://github.com/hegdeashwin/Backbone/issues</a>
                        </p>
                        <p>
                            Visit the following link to know about Backbone current training updates<br>
                            Home: <a href="https://github.com/hegdeashwin/Backbone#change-log" target="_blank">https://github.com/hegdeashwin/Backbone#change-log</a>
                        </p>                                                       
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">            
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>