<div class='row'>
	<div class='span12'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				<div class='pull-right'>
				</div>
				<h6 class='panel-title lead'>{{title}}</h6>
			</div>
			<div class='panel-body'>
				<div class='row'>
					<div id='createUser'>
						<form class='form-horizontal' id='userForm'>
							<!-- EmployeeID -->
							<div class='control-group'>
								<label class='control-label' for='empid'>Employee ID<span class='text-error'>*</span></label>
								<div class='controls'>
									<input type='text' id='empid' name='empid' maxlength='8' class='form-control' placeholder='Only numeric allowed without space' />
									<span class='help-inline'></span>
								</div>
							</div>

							<!-- FirstName -->
							<div class='control-group'>
								<label class='control-label' for='firstname'>First Name<span class='text-error'>*</span></label>
								<div class='controls'>
									<input type='text' id='firstname' name='firstname' maxlength='30' class='form-control' placeholder='Only alphabets allowed without space' />
									<span class='help-inline'></span>
								</div>
							</div>

							<!-- LastName -->
							<div class='control-group'>
								<label class='control-label' for='lastname'>Last Name<span class='text-error'>*</span></label>
								<div class='controls'>
									<input type='text' id='lastname' name='lastname' maxlength='30' class='form-control' placeholder='Only alphabets allowed without space' />
									<span class='help-inline'></span>
								</div>
							</div>

							<div class='control-group'>
								<div class='controls'>
									<button type='submit' class='btn btn-primary' id='addUser'>{{addUserText}}</button>
									<a type='button' class='btn' href='#mgnInterviewers' id='addCancel'>Cancel</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class='panel-footer'><span class='text-info'>Notes: * indicates required field.</span></div>
		</div>
	</div>
</div>