<div class="row">
    <table id="dataTable" class="table table-bordered table-condensed table-hover table-striped interviewers">
        <thead>
            <tr>
                <td colspan="7">
                    <button class="btn btn-primary primary addNewInterviewer"><i class="fa fa-plus-circle"></i> New Interviewer</button>
                    <button class="btn btn-danger delAtOnces" style="visibility:hidden;"><i class="fa fa-trash-o"></i> Selected Interviewer</button>
                </td>
            </tr>
            <tr>
                <th class="center"><input type="checkbox" class="selectedRowHeader" style="left:2px; position:relative;"/></th>
                <th>Employee ID</th>
                <th>Name</th>
                <th style="text-align:center;">Operations</th>
            </tr>
        </thead>
        <tbody>
            {{#each interviewers}}
                <tr data-id="{{empid}}">
                    <td class="center"><input type="checkbox" class="selectedRow" value="{{empid}}"/></td>
                    <td>{{empid}}</td>
                    <td>{{firstname}} {{lastname}}</td>
                    <td class="center">
                        <button class="btn btn-success btn-xs editInterviewer">Edit</button>
                        <button class="btn btn-danger btn-xs delInterviewer">Delete</button>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>