<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="lead">Delete</h3>
</div>
<div class="modal-body">
    <div class="control-group">
        <div class="controls">
            <label class="lead text-error">Are you absolutely sure you want to delete this interview?</label>
            <label class="checkbox">
                <input type="checkbox" id="agree"> I understand the consequences, delete this interview.
            </label>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger disabled confirmDel"><i class="icon-thumbs-up icon-white"></i> Yes</button>
    <button class="btn" data-dismiss="modal"><i class="icon-thumbs-down"></i> No</button>
</div>
