<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"></button> <a class="navbar-brand" href="#">Cybage UI - IMS <sup><small>Beta v3.0</small></sup></a>
        </div>
        <ul class='nav navbar-nav'>
            <li><a href='#dashboard'><i class="fa fa-home"></i></a></li>
            <li class='dropdown'>
                <a href='#' class='dropdown-toggle' data-toggle='dropdown'>Interview Operations <b class="caret"></b></a>
                <ul class='dropdown-menu'>
                    <li><a href='#interview'>Add New Interview</a></li>
                    <li><a href='#interviewList'>Conducted Interview's List</a></li>
                </ul>
            </li>
            {{#if filterByRole}}
                <li class='dropdown'>
                    <a href='#' class='dropdown-toggle' data-toggle='dropdown'>Manage <b class="caret"></b></a>
                    <ul class='dropdown-menu'>
                        <!-- <li><a href='#usersDetail'>Add New User</a></li> -->
                        <li><a href='#usersList'>Users</a></li>
                        <li><a href='#mgnInterviewers'>Interviewers</a></li>
                        <li><a href='#mgnRecruiters'>Recruiters</a></li>
                    </ul>
                </li>
            {{/if}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <!-- <li>
                <a class="toggleSidebar"><i class="fa fa-columns"></i></a>
            </li>
            <li>
                <a href="#help" target="_blank" class="needAssistance"><i class="fa fa-question-circle"></i></a>
            </li> -->
            <li class="dropdown setting">
                <a href='#' class='dropdown-toggle' data-toggle='dropdown'><i class="fa fa-cogs"></i><b class="caret"></b></a>
                <ul class='dropdown-menu'>
                    <li><a class="changePass">Change Password</a></li>
                    <!-- <li><a class="editProfile">Profile</a></li> -->
                    <li class="divider"></li>
                    <li><a class="whatsNew">What's new?</a></li>
                    <li><a class="feedback">Share your experiences</a></li>
                </ul>
            </li>
            <li>
                <a href="#logout" class="logout"><i class="fa fa-sign-out"></i></a>
            </li>
        </ul>
    </div>
</div>