<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle-o"></i></button>
            <h4 class="modal-title text-primary">
                Public profile
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-3">
                    <ul class="thumbnails list-unstyled">
                        <div class="thumbnail" style="padding: 0">
                            <div style="padding:4px">
                                <img alt="300x200" style="width: 100%" src="http://placehold.it/200x150">
                            </div>
                            <div class="caption">
                                <h2>Project A</h2>
                                <p>My project description</p>
                                <p><i class="icon icon-map-marker"></i> Place, Country</p>
                            </div>
                            <div class="modal-footer" style="text-align: left">
                                <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4"><b>60%</b><br/><small>FUNDED</small></div>
                                    <div class="col-xs-4"><b>$400</b><br/><small>PLEDGED</small></div>
                                    <div class="col-xs-4"><b>18</b><br/><small>DAYS</small></div>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
                <div class="col-xs-9">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            
                        </div>
                        <div class="panel-body">
                           
                        </div>
                        <div class="panel-footer">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <!-- <label class="checkbox-inline pull-left">
                <input type="checkbox" id="turnItOff" value="0"> Turn off this release announcement
            </label> -->
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>